@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* ----- General structure ----- */

html {
	margin: 0;
	padding: 0;
	background-image: url('../img/bg.jpg');
	background-position: initial;
	background-size: cover;
	background-repeat: no-repeat;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	color: #1d1d1d;
	font-size: 16px;
 /* https://codepen.io/P1N2O/pen/pyBNzX */
	/* background: linear-gradient(-45deg, rgb(238 119 82 / 50%), rgb(231 60 126 / 50%), rgb(35 166 213 / 50%), rgb(35 213 171 / 50%));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
}

	/* https://codepen.io/P1N2O/pen/pyBNzX */
/* @keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
} */

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

input {
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 16px;
	border: none;
}

button {
	padding: 15px 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	background-color: #1d1d1d;
	color: #fff;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: 0.3s;
}

button:hover {
	background-color: #0095FF;
	color: #fff;
}

/* ----- Header ----- */

.sidebar {
	background-color: #1d1d1d;
	max-width: 280px;
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	margin: 0;
	margin-top: -30px;
	padding: 20px;
	color: #fff;
	/* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.sidebar h1 {
	text-align: center;
}

#home::before {
	content: '';
	display: block;
	float: left;
	margin-top: 14px;
	margin-left: 20px;
	margin-right: 20px;
	height: 1.5em;
	width: 1.5em;
	background-position: center;
	mask-size: 1.5em;
	background-repeat: no-repeat;
	background-color: #0095FF;
    -webkit-mask-image: url('../icons/house.svg');
    mask-image: url('../icons/house.svg');
}

.menu-wrapper ul #home:hover::before,
.menu-wrapper ul #home:focus::before {
	background-color: #fff;
}

#weather::before {
	content: '';
	display: block;
	float: left;
	margin-top: 12px;
	margin-left: 20px;
	margin-right: 20px;
	height: 1.5em;
	width: 1.5em;
	background-position: center;
	mask-size: 1.5em;
	background-repeat: no-repeat;
	background-color: #0095FF;
    -webkit-mask-image: url('../icons/cloud-sun.svg');
    mask-image: url('../icons/cloud-sun.svg');
}

.menu-wrapper ul #weather:hover::before,
.menu-wrapper ul #weather:focus::before {
	background-color: #fff;
}

#something::before {
	content: '';
	display: block;
	float: left;
	margin-top: 14px;
	margin-left: 20px;
	margin-right: 20px;
	height: 1.5em;
	width: 1.5em;
	background-position: center;
	mask-size: 1.5em;
	background-repeat: no-repeat;
	background-color: #0095FF;
    -webkit-mask-image: url('../icons/calculator.svg');
    mask-image: url('../icons/calculator.svg');
}

.menu-wrapper ul #something:hover::before,
.menu-wrapper ul #something:focus::before {
	background-color: #fff;
}

#menu-title {
	margin-top: 50px;
	margin-left: 5px;
	margin-bottom: -10px;
	font-weight: 700;
	letter-spacing: 1px;
}

.menu-wrapper {
	margin-right: 15px;
}

.menu-wrapper a {
	color: #fff;
	text-decoration: none;
}

.menu-wrapper ul {
  list-style-type: none;
	margin-left: -35px;
}

.menu-wrapper ul li {
	background-color: #151515;
	padding: 15px 5px;
	border-radius: 5px;
	transition: 0.3s;
	color: #fff;
}

.menu-wrapper ul li:hover,
.menu-wrapper ul li:focus {
	background-color: #0095FF;
	color: #fff;
}

/* .menu-wrapper ul li:hover > a {
	color: #fff;
} */

/* ----- Contect ----- */

.content {
	max-width: 1200px;
	margin-top: 30px;
	margin-left: 350px;
	/* padding: 10px 50px; */
	/* background-color: rgba(255, 255, 255, 0.35);
	backdrop-filter: blur(10px); */
	/* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

/* ----- Footer ----- */
footer {
	padding: 25px 20px;
	position: fixed;
	width: 280px;
	background-color: #151515;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}
